body{background-color: #E4FFFF}
.container{height: 100vh}
.card{padding: 30px}
.form{padding: 20px}
.form-control{height: 50px;background-color: #eee}
.form-control:focus{color: #495057;background-color: #fff;border-color: #2192FF;outline: 0;box-shadow: none;background-color: #eee}
.inputbox{margin-bottom: 15px}
.register{width: 200px;height: 51px;background-color: #FFFF00;border-color: #FFFF00;color: black;}
.register:hover{width: 200px;height: 51px;background-color: #00B4D8;border-color: #00B4D8}
.login{color: #00B4D8;text-decoration: none}
.login:hover{color: #FDFF00;text-decoration: none}
.form-check-input:checked{background-color: #FDFF00;border-color: #FDFF00}