
/* استایل جامع برای body */
body {
  background-color: #ffffff;
  font-family: 'Vazir', sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #000000;
  direction: rtl;
  text-align: center;
  margin: 0;
  padding: 20px;
}

/* استایل عمومی برای دکمه‌ها */
button {
  background-color: #FFFF00; /* رنگ دکمه */
  color: #000000; /* رنگ متن */
  border: none; /* بدون حاشیه */
  padding: 10px 20px; /* فضای داخل دکمه */
  border-radius: 5px; /* گوشه‌های گرد */
  cursor: pointer; /* نشانگر موس روی دکمه */
  font-size: 14px; /* اندازه فونت */
  width: 100%;
}

/* افکت‌ها برای دکمه در حالت هاور */
button:hover {
  background-color: #00b4d8; /* تغییر رنگ در حالت هاور */
  color: white;
  transition: background-color 0.3s ease-in-out; /* انیمیشن تغییر رنگ */
}

/* افکت کلیک روی دکمه */
button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); /* افکت کلیک */
}

/*فونت سایت*/

@font-face {
  font-family: 'Vazir';
  src: url('font/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* about us */

h1{
    font-size: 30px;
    color: #00B4D8;
    font-family: 'Vazir', sans-serif;
}
p{
    font-size: 18px;
    color: black;
    font-family: 'Vazir', sans-serif;
}
.logo {
    margin-bottom: 30px;
}

/* blog */

  .blog-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    margin: auto;
  }
  .blog-image img {
    width: 100%;
    display: block;
  }
  .blog-content {
    padding: 15px;
  }
  .blog-content h3 {
    font-size: 20px;
    color: #333;
  }
  .blog-content p {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .blog-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
  }

/* contact us */

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#contactus {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    background: #ffffff;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px; 
}
#contactus h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
} 
#contactus h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}
fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
#contactus input[type="text"],
#contactus input[type="email"],
#contactus input[type="tel"],
#contactus input[type="url"],
#contactus textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #E8ECD7;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 10px;
}

#contactus input[type="text"]:hover,
#contactus input[type="email"]:hover,
#contactus input[type="tel"]:hover,
#contactus input[type="url"]:hover,
#contactus textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
  
#contactus textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
  
#contactus input:focus,
#contactus textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
  
::-webkit-input-placeholder {
  color: #888;
}
  
:-moz-placeholder {
  color: #888;
}
  
::-moz-placeholder {
  color: #888;
}
  
:-ms-input-placeholder {
  color: #888;
}

#contactus input,
#contactus textarea{
  text-align: right;
}

/*login & sign up*/

.animated {
  -webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.hinges {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
}

.animated.slow {
	-webkit-animation-duration: 3s;
	   -moz-animation-duration: 3s;
	     -o-animation-duration: 3s;
	        animation-duration: 3s;
}

.animated.snail {
	-webkit-animation-duration: 4s;
	   -moz-animation-duration: 4s;
	     -o-animation-duration: 4s;
	        animation-duration: 4s;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}

.login .modal-dialog{
    width: 350px;
}
.login .modal-footer{
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}
.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
     padding: 11px 15px; 
}
.login .modal-body{
     background-color: #eeeeee;
}
.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}
.login .division .line.l {
    left: 0;
}
.login .division .line.r {
    right: 0;
}
.login .division span {
    color: #424242;
    font-size: 17px;
}
.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle{
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}
.login .social .circle .fa{
    font-size: 16px;
}
.login .social .facebook{
    background-color: #455CA8;
    color: #FFFFFF;
}
.login .social .google{
    background-color: #F74933;
}
.login .social .github{
    background-color: #403A3A;
}
.login .facebook:hover{
    background-color: #6E83CD;
}
.login .google:hover{
    background-color: #FF7566;
}
.login .github:hover{
    background-color: #4D4D4d;;
}
.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.login .form-control{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}
.login .form-control:hover{
    background-color: rgba(0,0,0,.16);
}
.login .form-control:focus{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0,0,0,0.23);
    color: #FFFFFF;
}
.login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}


@media (max-width:400px){
    .login .modal-dialog{
        width: 100%;
    }
}

.big-login, .big-register{
    background-color: #00bbff;
    color: #FFFFFF;
    border-radius: 7px;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.big-login:hover{
    background-color: #00A4E4;
    color: #FFFFFF;
}
.big-register{
    background-color: rgba(0,0,0,.0);
    color: #00bbff;
    border-color: #00bbff;
}
.big-register:hover{
    border-color: #00A4E4;
    color:  #00A4E4;
}

/*header */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #c5ffff;
  color: #000000;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  margin-left: 20px;
  position: relative;
}

.nav-menu a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  padding: 8px 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E4FFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #E4FFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  z-index: 1000; 
}

/*footer */

.footer-dark {
  padding: 50px 0;
  color: #000000;
  background-color: #c5ffff;
  bottom: 0;
  width: 100%;

}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}



.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
  margin: 0 8px;
  color: #000000;
  opacity: 0.75;
  background-color: #FFFF00;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
.footer-dark .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.footer-dark .item {
  flex: 1;
  min-width: 200px;
  text-align: center; 
}
#carouselExample {
  max-width: 700px;
}
